{% extends 'base.html.twig' %}

{% block body %}
<!-- Container (About Section) -->
    <div class="container opis" style="background: rgba(255, 255, 255, 0.97)" >
        <p></p>
        <h2>Cennik</h2>
        <p></p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Typ masażu</th>
                <th>Czas zabiegu</th>
                <th>Koszt</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Masaż klasyczny pleców</td>
                <td>30min</td>
                <td>40zł</td>
            </tr>
            <tr>
                <td>Masaż klasyczny częściowy</td>
                <td>20min</td>
                <td>30zł</td>
            </tr>
            <tr>
                <td>Masaż klasyczny całego ciała</td>
                <td>60min</td>
                <td>90zł</td>
            </tr>
            <tr>
                <td>Masaż relaksacyjny twarzy</td>
                <td>15min</td>
                <td>20zł</td>
            </tr>
            <tr>
                <td>Masaż relaksacyjny dłoni i przedramion</td>
                <td>20min</td>
                <td>25zł</td>
            </tr>
            <tr>
                <td>Masaż relaksacyjny stóp</td>
                <td>20min</td>
                <td>25zł</td>
            </tr>
            <tr>
                <td>Masaż relaksacyjny całego ciała</td>
                <td>70min</td>
                <td>100zł</td>
            </tr>
            <tr>
                <td>Masaż relaksacyjny pleców</td>
                <td>35min</td>
                <td>50zł</td>
            </tr>
            <tr>
                <td>Masaż antycellulitowy</td>
                <td>30min</td>
                <td>50zł</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
